version: "3.9"
services:
  # XSS Hunter Express service
  xsshunterexpress:
    build: .
    env_file:
      - dev.env
    ports:
      - "127.0.0.1:8080:8080"
    volumes:
      # Directory where payload fire images are stored.
      - ./payload-fire-images:/app/payload-fire-images
    depends_on:
      postgresdb:
        condition: service_healthy
  postgresdb:
    image: postgres
    restart: always
    user: postgres
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_HOST_AUTH_METHOD: trust
    healthcheck:
      test: ["CMD-SHELL", "pg_isready"]
      interval: 3s
      timeout: 5s
      retries: 5
